@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Spark</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Spark_SocialMediaApp.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="/defaults/spark-logo.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&family=Trocchi&display=swap" rel="stylesheet">

    @RenderSection("Styles", false)
</head>
<body>
    <div popover="manual" id="shareLink">Saved Link</div>
    @{
            
        var currentPage = string.Empty;
        if (ViewContext.RouteData.Values["controller"] != null && ViewContext.RouteData.Values["action"] != null)
            currentPage = ViewContext.RouteData.Values["controller"].ToString() + ViewContext.RouteData.Values["action"].ToString();
}

    <div class="spark-page">

        <!--navigation sidebar -->
        <aside class="spark-sidebar" id="sparkSidebar">

            <!-- logo + title + flame + gradient -->
            <div class="spark-logo-header">

                <!-- flame-->
                <svg class="spark-logo-banner" viewBox="0 0 307 100" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path d="M5.01229 83.8093C38.5946 73.2704 19.0467 22.4161 0 11.5426C23.8825 12.7627 39.8804 4.9072 48.998 -4.01477H307.253V99.8686H57.14C54.1327 91.8389 49.6216 76.2815 5.01229 83.8093Z"
                          fill="url(#sparkBanner0)" />
                    <path d="M5.01229 83.8093C38.5946 73.2704 19.0467 22.4161 0 11.5426C23.8825 12.7627 39.8804 4.9072 48.998 -4.01477H307.253V99.8686H57.14C54.1327 91.8389 49.6216 76.2815 5.01229 83.8093Z"
                          fill="url(#sparkBanner1)" />
                    <defs>
                        <linearGradient id="sparkBanner0" x1="40.5995" y1="-24.5907" x2="54.1637" y2="22.0725" gradientUnits="userSpaceOnUse">
                            <stop id="spark-logo-banner-flame" stop-color="#A55AFC" />
                            <stop id="spark-logo-banner-flame"  offset="1" stop-color="#623696" stop-opacity="0" />
                        </linearGradient>
                        <linearGradient id="sparkBanner1" x1="40.5995" y1="89.3297" x2="72.1914" y2="74.3046" gradientUnits="userSpaceOnUse">
                            <stop id="spark-logo-banner-flame" stop-color="#A55AFC" stop-opacity="0.37" />
                            <stop id="spark-logo-banner-flame" offset="0.0913462" stop-color="#A55AFC" stop-opacity="0.37" />
                            <stop id ="spark-logo-banner-flame" offset="1" stop-color="#623696" stop-opacity="0" />
                        </linearGradient>
                    </defs>
                </svg>

                <!-- icon -->
                <div class="spark-logo-icon-wrap" aria-hidden="true">

                    <!-- base -->
                    <svg class="spark-icon-layer" id="icon-base" viewBox="0 0 87 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g transform="translate(16.16, 16.11)">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M5.63806 34.0254C9.65868 25.6727 13.9584 20.8257 18.5375 19.4845C25.406 17.4728 34.757 17.9032 36.2952 18.2213C37.3207 18.4333 28.3201 12.3887 9.29316 0.0872803C3.32317 21.3341 0.277255 32.5501 0.155419 33.7354C-0.0273357 35.5132 -0.0273357 35.6535 5.63806 34.0254Z"
                                  fill="#A4A4A4" stroke="#7B7B7B" stroke-width="0.208" stroke-linecap="square" stroke-linejoin="bevel" />
                        </g>
                        <g transform="translate(0, 31.48)">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M26.5105 45.1705C26.143 53.1614 29.3427 59.412 36.1092 63.922C42.8758 68.4322 47.7713 71.3407 50.7955 72.6475L0.0194924 73.0125C0.109999 45.547 0.104186 25.6804 0.00205417 13.4126C-0.100078 1.14481 3.57817 -2.64169 11.0368 2.05308C12.6598 2.85778 17.8177 17.2303 26.5105 45.1705Z"
                                  fill="#A4A4A4" stroke="#7B7B7B" stroke-width="0.208" stroke-linecap="square" stroke-linejoin="bevel" />
                        </g>
                    </svg>

                    <!-- middle -->
                    <svg class="spark-icon-layer" id="icon-middle" viewBox="0 0 87 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M54.9085 40.6507C49.6281 42.507 55.2505 39.9651 49.1002 32.9969C42.95 26.0286 41.6967 25.7665 36.2459 23.583C30.9017 21.3751 28.2433 17.0786 29.2869 22.1135C28.0377 34.1583 25.3791 31.695 23.3627 43.429C21.3461 55.1629 29.4268 63.4154 34.4215 62.2289C39.4161 61.0425 28.222 68.399 35.4407 74.7619C42.6596 81.1246 43.1997 81.6434 47.9055 81.0352C52.6115 80.427 45.8916 83.5524 40.6288 82.0445C35.366 80.5366 33.6869 79.9771 30.2825 80.3851C26.8781 80.7931 25.9891 80.1478 23.4791 80.6789C20.9691 81.21 26.6593 79.1806 21.7498 73.8799C16.8403 68.5792 17.1035 69.3797 14.505 67.0159C11.9065 64.6521 12.5962 61.074 6.57428 57.556C0.552361 54.038 0.154668 67.3789 0.053561 58.8446C-0.0138441 53.155 -0.0176285 32.202 0.0422076 -4.01477L57.9904 -3.89199L58.8037 -1.52134C59.5871 -0.0979974 60.9387 0.734099 62.8582 0.974949C65.7373 1.33623 67.016 2.41433 67.7681 3.9928C68.5201 5.57128 64.2518 1.2923 62.8545 10.9567C61.4573 20.6212 76.1602 28.4832 79.6196 24.9382C83.079 21.3932 75.9773 29.6799 81.206 36.7666C84.6917 41.4912 86.346 43.7075 86.1685 43.4157C86.3968 43.819 85.7114 45.9991 84.1124 49.9561C82.5133 53.9132 81.0522 57.6577 79.7289 61.1894C79.3718 56.2394 78.4666 52.9281 77.0133 51.2553C74.8333 48.7462 70.0799 48.5563 66.732 50.047M66.732 50.047C67.6536 46.5363 62.9616 39.4739 54.9085 40.6507L66.732 50.047Z"
                              fill="#EBEBEB" />
                    </svg>

                    <!-- accent -->
                    <svg class="spark-icon-layer" id="icon-accent" viewBox="0 0 87 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <!-- eyes -->
                        <g transform="translate(37.82, 8.52)">
                            <path id="icon-accent" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M0 0C6.97514 3.77402 10.8587 6.61857 11.6506 8.53365C12.4426 10.4487 12.8284 12.7287 12.8081 15.3737C10.4084 13.6975 8.04031 12.0602 5.60448 10.3396C3.81836 9.87891 1.98769 9.43466 0 9.04829C1.17776 5.21813 1.17776 2.20203 0 0Z"
                                  fill="#A55AFC" />
                        </g>
                        <!-- flame -->
                        <g transform="translate(38.52, 46.75)">
                            <path id="icon-accent" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M19.6766 -4.70972e-05C24.3836 8.42794 28.8864 11.7306 33.185 9.9081C39.633 7.17415 23.0795 13.0497 23.9787 21.0081C24.8777 28.9665 32.1769 32.5279 25.4625 28.453C18.7483 24.3781 12.2977 21.0923 8.04443 23.1971C3.79123 25.302 17.2765 11.9372 3.81216 4.96415C-9.65228 -2.00887 16.6399 13.5117 19.6766 -4.70972e-05Z"
                                  fill="#A55AFC" />
                        </g>
                    </svg>

                </div>

                <!-- "spark" wordmark -->
                <span class="spark-logo-text">spark</span>

            </div>


            <!-- nav links -->
            <nav class="spark-nav">
               
                <a class="spark-nav-link @(currentPage == "HomeIndex" ? "active" : "")"
                   asp-area="" asp-controller="Home" asp-action="Index">
                    <svg viewBox="0 0 44 47" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path id="nav-icon" d="M21.7188 0.5C22.459 0.5 23.1794 0.722981 23.7881 1.13574L24.042 1.32422L41.5732 15.5723L41.7295 15.7061C42.084 16.0281 42.3726 16.417 42.5791 16.8506C42.815 17.3461 42.9376 17.8878 42.9375 18.4365V42.4199C42.9374 43.3978 42.5489 44.3359 41.8574 45.0273C41.1659 45.7188 40.2279 46.1074 39.25 46.1074H4.1875C3.20957 46.1074 2.27161 45.7188 1.58008 45.0273C0.888599 44.3359 0.500068 43.3978 0.5 42.4199V18.4365L0.505859 18.2314C0.532771 17.7536 0.652842 17.2847 0.859375 16.8516C1.09538 16.3567 1.43851 15.9206 1.86426 15.5752L19.3955 1.32422L19.6494 1.13574C20.2581 0.722981 20.9785 0.5 21.7188 0.5ZM4.6875 18.6709V41.9199H38.75V18.6748L21.7178 4.8291L4.6875 18.6709Z"
                              fill="#A55AFC" />
                    </svg>
                    Home
                </a>

                <a class="spark-nav-link @(currentPage == "HomeExplore" ? "active" : "")"
                   asp-area="" asp-controller="Home" asp-action="Explore">
                    <svg 
                         width="17.28pt"
                         height="17.28pt"
                         viewBox="0 0 17.28 17.28">
                        <defs />
                        <path id="nav-icon" transform="matrix(0.36 0 0 0.36 0 0)" fill="#a55afc" stroke-opacity="0" stroke="#000000" stroke-width="0" stroke-linecap="square" stroke-linejoin="bevel" d="M24 0C10.7445 0 0 10.7445 0 24C0 37.2555 10.7445 48 24 48C37.2555 48 48 37.2555 48 24C48 17.6348 45.4714 11.5303 40.9706 7.02944C36.4697 2.52856 30.3652 0 24 0ZM25.5 44.925L25.5 42L22.5 42L22.5 44.925C17.469 44.5599 12.7375 42.3961 9.17068 38.8293C5.60387 35.2625 3.44009 30.531 3.075 25.5L6 25.5L6 22.5L3.075 22.5C3.44009 17.469 5.60387 12.7375 9.17068 9.17068C12.7375 5.60387 17.469 3.44009 22.5 3.075L22.5 6L25.5 6L25.5 3.075C30.531 3.44009 35.2625 5.60387 38.8293 9.17068C42.3961 12.7375 44.5599 17.469 44.925 22.5L42 22.5L42 25.5L44.925 25.5C44.5599 30.531 42.3961 35.2625 38.8293 38.8293C35.2625 42.3961 30.531 44.5599 25.5 44.925Z" sodipodi:nodetypes="ccccccccccccccccccccccccccc" />
                        <path id="nav-icon" transform="matrix(0.36 0 0 0.36 4.32 4.31999999999999)" fill="#a55afc" stroke-opacity="0" stroke="#000000" stroke-width="0" stroke-linecap="square" stroke-linejoin="bevel" d="M0 23.01L7.185 7.185L23.01 0L15.825 15.825ZM9.45 9.51L6.03 17.01L13.53 13.59L16.95 6.09Z" sodipodi:nodetypes="cccccccccc" />
                    </svg>
                    

                    Explore
                </a>

                <a class="spark-nav-link @(currentPage == "NotificationIndex" ? "active" : "")"
                asp-area="" asp-controller="Notification" asp-action="Index">
                    <svg viewBox="0 0 45 48" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path id="nav-icon" fill-rule="evenodd" clip-rule="evenodd"
                              d="M6.95054 36.0014H38.0525C37.4885 33.8896 37.2125 30.929 37.0085 26.8915C36.7985 22.7459 36.6996 21.2281 36.4386 19.0564C36.3546 18.3505 36.2586 17.6705 36.1506 17.0166C35.2207 11.3413 31.6329 8.24863 25.0273 7.62471C25.3178 7.17145 25.4808 6.6484 25.4995 6.11042C25.5182 5.57244 25.3917 5.03935 25.1334 4.56706C24.875 4.09478 24.4944 3.70071 24.0313 3.42619C23.5682 3.15167 23.0398 3.00681 22.5015 3.00681C21.9632 3.00681 21.4348 3.15167 20.9717 3.42619C20.5086 3.70071 20.128 4.09478 19.8696 4.56706C19.6113 5.03935 19.4848 5.57244 19.5035 6.11042C19.5222 6.6484 19.6852 7.17145 19.9757 7.62471C13.3701 8.24863 9.78535 11.3443 8.85241 17.0136C8.74183 17.6914 8.64582 18.3715 8.56443 19.0534C8.30345 21.2281 8.20445 22.7429 7.99447 26.8915C7.79048 30.929 7.5145 33.8896 6.95054 36.0014ZM39.4774 39.001H5.52263C4.59869 40.0599 3.31178 40.5009 1.4999 40.5009C1.1021 40.5009 0.720596 40.3429 0.439311 40.0616C0.158025 39.7803 0 39.3988 0 39.001C0 38.6033 0.158025 38.2218 0.439311 37.9405C0.720596 37.6592 1.1021 37.5012 1.4999 37.5012C3.85774 37.5012 4.5717 35.1525 4.99767 26.7415C5.20765 22.521 5.31265 20.9642 5.58563 18.6994C5.67362 17.9515 5.77562 17.2276 5.89161 16.5277C6.89654 10.4054 10.5323 6.58983 16.5619 5.15299C16.7657 3.72295 17.4786 2.41444 18.5697 1.46781C19.6609 0.521179 21.0569 0 22.5015 0C23.9461 0 25.3421 0.521179 26.4333 1.46781C27.5244 2.41444 28.2373 3.72295 28.4411 5.15299C34.4707 6.58983 38.1065 10.4024 39.1114 16.5277C39.2289 17.2493 39.331 17.9734 39.4174 18.6994C39.6874 20.9642 39.7923 22.521 40.0053 26.7415C40.4253 35.1525 41.1423 37.5012 43.5001 37.5012C43.8979 37.5012 44.2794 37.6592 44.5607 37.9405C44.842 38.2218 45 38.6033 45 39.001C45 39.3988 44.842 39.7803 44.5607 40.0616C44.2794 40.3429 43.8979 40.5009 43.5001 40.5009C41.6882 40.5009 40.4013 40.0599 39.4774 39.001ZM16.5019 42.0007H28.5011C28.5011 43.5918 27.869 45.1178 26.7439 46.2428C25.6187 47.3679 24.0927 48 22.5015 48C20.9103 48 19.3843 47.3679 18.2591 46.2428C17.134 45.1178 16.5019 43.5918 16.5019 42.0007Z"
                              fill="#A55AFC" />
                    </svg>
                    Notifications
                </a>

                @* <a class="spark-nav-link @(currentPage == "GroupchatIndex" ? "active" : "")"
                asp-area="" asp-controller="Groupchat" asp-action="Index">
                    <svg viewBox="0 0 50 48" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path id="nav-icon" d="M46.575 11.755H38.2393V3.42587C38.2393 2.51728 37.8781 1.64589 37.2351 1.00342C36.5921 0.360941 35.72 1.85882e-06 34.8107 1.85882e-06H3.43214C2.9816 -0.000467092 2.53537 0.0877998 2.11899 0.259756C1.7026 0.431712 1.32422 0.683986 1.00547 1.00215C0.686717 1.32032 0.433851 1.69815 0.261326 2.11402C0.0888006 2.5299 -2.44437e-07 2.97568 0 3.42587V34.7762C0.000817008 35.053 0.0798304 35.324 0.227949 35.5579C0.376068 35.7918 0.587274 35.9792 0.837268 36.0985C1.08726 36.2179 1.36588 36.2642 1.64108 36.2323C1.91627 36.2004 2.17686 36.0915 2.39286 35.9181L11.6929 28.4062H11.7643V36.7353C11.7643 37.6439 12.1255 38.5153 12.7685 39.1578C13.4115 39.8003 14.2835 40.1612 15.1929 40.1612H38.3071L47.6036 47.6731C47.8195 47.8476 48.0805 47.9574 48.3562 47.9899C48.632 48.0224 48.9113 47.9762 49.162 47.8568C49.4126 47.7374 49.6243 47.5495 49.7726 47.3149C49.9209 47.0804 49.9997 46.8087 50 46.5312V15.1809C50 14.2723 49.6388 13.4009 48.9958 12.7584C48.3528 12.116 47.4807 11.755 46.5714 11.755M11.1714 25.4692C10.8349 25.464 10.5073 25.5778 10.2464 25.7904L2.94286 31.6965V3.42587C2.94286 3.29621 2.99441 3.17186 3.08617 3.08017C3.17792 2.98848 3.30238 2.93697 3.43214 2.93697H34.8036C34.9333 2.93697 35.0578 2.98848 35.1496 3.08017C35.2413 3.17186 35.2929 3.29621 35.2929 3.42587V24.9803C35.2929 25.11 35.2413 25.2343 35.1496 25.326C35.0578 25.4177 34.9333 25.4692 34.8036 25.4692H11.1714ZM47.0607 43.4515L39.7536 37.549C39.4932 37.3351 39.1656 37.2201 38.8286 37.2242H15.2C15.0702 37.2242 14.9458 37.1727 14.854 37.081C14.7623 36.9894 14.7107 36.865 14.7107 36.7353V28.4062H34.8071C35.7165 28.4062 36.5885 28.0452 37.2315 27.4028C37.8745 26.7603 38.2357 25.8889 38.2357 24.9803V14.6884H46.5714C46.636 14.688 46.7 14.7003 46.7598 14.7246C46.8195 14.749 46.8739 14.7849 46.9197 14.8304C46.9655 14.8758 47.0019 14.9299 47.0267 14.9894C47.0515 15.049 47.0643 15.1128 47.0643 15.1773L47.0607 43.4515Z"
                              fill="#A55AFC" />
                    </svg>
                    Chats
                </a> *@

                <a class="spark-nav-link @(currentPage == "PostSaved" ? "active" : "")"
                asp-area="" asp-controller="Post" asp-action="Saved">
                    <svg viewBox="-0.5 -0.5 49 49" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path  id="nav-icon2" fill-rule="evenodd" clip-rule="evenodd"
                              d="M24 8.34373e-05C23.3303 -0.00457993 22.6738 0.186329 22.111 0.549386C21.5483 0.912444 21.1037 1.43186 20.832 2.04391L15.5119 13.7389L2.99974 15.5228C0.159701 15.9307 -1.00431 19.4264 1.01571 21.4703L10.2678 30.8135L8.0158 43.8843C7.9279 44.3872 7.95081 44.9031 8.08294 45.3962C8.21507 45.8893 8.45323 46.3475 8.78079 46.7391C9.10835 47.1306 9.51743 47.4459 9.97946 47.663C10.4415 47.8801 10.9453 47.9937 11.4558 47.996C12.0586 47.9943 12.6504 47.8344 13.1719 47.532L24 41.3686L34.8281 47.536C35.3881 47.856 35.9762 48 36.5482 48C37.0579 47.9971 37.5609 47.883 38.0221 47.6659C38.4833 47.4488 38.8917 47.1338 39.2187 46.7428C39.5458 46.3518 39.7837 45.8943 39.9159 45.402C40.0481 44.9097 40.0714 44.3946 39.9842 43.8923L37.7322 30.8175L46.9843 21.4743C49.0043 19.4304 47.8403 15.9347 45.0003 15.5268L32.4881 13.7429L27.168 2.05191C26.8975 1.43836 26.4534 0.917275 25.8906 0.552735C25.3277 0.188194 24.6706 -0.00389805 24 8.34373e-05Z"
                              stroke="#A55AFC" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Saved
                </a>

                <a class="spark-nav-link @(currentPage == "ProfileIndex" ? "active" : "")"
                asp-area="" asp-controller="Profile" asp-action="Index">
                    <svg viewBox="0 0 42 48" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path id="nav-icon2" d="M1.33333 37.6249V40.4166C1.33333 41.8974 1.92157 43.3175 2.96865 44.3646C4.01573 45.4117 5.43587 45.9999 6.91666 45.9999H34.8333C36.3141 45.9999 37.7343 45.4117 38.7813 44.3646C39.8284 43.3175 40.4167 41.8974 40.4167 40.4166V37.6249C40.4167 34.6633 39.2402 31.823 37.146 29.7289C35.0519 27.6347 32.2116 26.4583 29.25 26.4583H12.5C9.53841 26.4583 6.69812 27.6347 4.60397 29.7289C2.50981 31.823 1.33333 34.6633 1.33333 37.6249ZM29.25 9.70825C29.25 11.9294 28.3676 14.0597 26.797 15.6303C25.2264 17.2009 23.0962 18.0833 20.875 18.0833C18.6538 18.0833 16.5236 17.2009 14.953 15.6303C13.3824 14.0597 12.5 11.9294 12.5 9.70825C12.5 7.48706 13.3824 5.35685 14.953 3.78623C16.5236 2.21562 18.6538 1.33325 20.875 1.33325C23.0962 1.33325 25.2264 2.21562 26.797 3.78623C28.3676 5.35685 29.25 7.48706 29.25 9.70825Z"
                              stroke="#A55AFC" stroke-width="3" />
                    </svg>
                    Profile
                </a>

                <a class="spark-nav-link" href="/Identity/Account/Manage/Settings">
                    <svg viewBox="0 0 31 35" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path  id="nav-icon2" d="M15.3333 1.33325V21.3333M15.3333 21.3333C14.5377 21.3333 13.7746 21.6493 13.212 22.2119C12.6494 22.7745 12.3333 23.5376 12.3333 24.3333C12.3333 25.1289 12.6494 25.892 13.212 26.4546C13.7746 27.0172 14.5377 27.3333 15.3333 27.3333C16.129 27.3333 16.892 27.0172 17.4547 26.4546C18.0173 25.892 18.3333 25.1289 18.3333 24.3333C18.3333 23.5376 18.0173 22.7745 17.4547 22.2119C16.892 21.6493 16.129 21.3333 15.3333 21.3333ZM15.3333 33.3333V32.3333M26.3333 1.33325V11.3333M26.3333 11.3333C25.5377 11.3333 24.7746 11.6493 24.212 12.2119C23.6494 12.7745 23.3333 13.5376 23.3333 14.3333C23.3333 15.1289 23.6494 15.892 24.212 16.4546C24.7746 17.0172 25.5377 17.3333 26.3333 17.3333C27.129 17.3333 27.892 17.0172 28.4547 16.4546C29.0173 15.892 29.3333 15.1289 29.3333 14.3333C29.3333 13.5376 29.0173 12.7745 28.4547 12.2119C27.892 11.6493 27.129 11.3333 26.3333 11.3333ZM26.3333 33.3333V22.2133M4.33334 1.33325V5.33325M4.33334 5.33325C3.53769 5.33325 2.77462 5.64932 2.21202 6.21193C1.64941 6.77454 1.33334 7.5376 1.33334 8.33325C1.33334 9.1289 1.64941 9.89196 2.21202 10.4546C2.77462 11.0172 3.53769 11.3333 4.33334 11.3333C5.12899 11.3333 5.89205 11.0172 6.45466 10.4546C7.01727 9.89196 7.33334 9.1289 7.33334 8.33325C7.33334 7.5376 7.01727 6.77454 6.45466 6.21193C5.89205 5.64932 5.12899 5.33325 4.33334 5.33325ZM4.33334 33.3333V16.4533"
                              stroke="#A55AFC" stroke-width="2.66667" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Settings
                </a>

            </nav>

            <!-- create post button-->
            <div class="spark-sidebar-footer">
                @* <partial name="_LoginPartial" /> *@
                <a class="spark-create-btn" asp-area="" asp-controller="Post" asp-action="CreatePost">
                    <!--spark svg-->

                    <svg class="spark-create-btn-sparks" viewBox="0 0 197.76 222.96">
                        <defs />
                        <path id="shape1" transform="matrix(1.44875113415377 2.48004688345565 -2.48004688345565 1.44875113415377 90.6581364268943 -40.3394012833291)"
                        fill="#ffffff" fill-rule="evenodd" stroke="none" stroke-width="0.24" stroke-linecap="square" stroke-linejoin="bevel" d="M9.42384 13.7864C36.1974 11.6008 49.0713 7.66931 48.046 1.99193C46.5074 -6.52414 47.3979 14.8966 69.5025 16.9342C91.607 18.9718 107.679 11.9056 90.7567 18.0968C73.8344 24.2878 59.2602 30.479 61.0817 36.213C62.9036 41.947 39.2203 21.1792 8.49271 34.0577C-22.2349 46.9365 42.8637 22.5245 9.42384 13.7864Z" sodipodi:nodetypes="czzzzcc" />
                    </svg>
                    Create
                    <svg class="spark-create-btn-sparks" viewBox="0 0 197.76 222.96">
                        <defs />
                        <path id="shape1" transform="matrix(-1.44875113415377 2.48004688345565 2.48004688345565 1.44875113415377 105.703819402121 -41.7736811461685)" fill="#ffffff" fill-rule="evenodd" stroke-opacity="0" stroke="#000000" stroke-width="0" stroke-linecap="square" stroke-linejoin="bevel" d="M9.42387 13.7864C36.1974 11.6008 49.0713 7.66931 48.046 1.99193C46.5074 -6.52414 47.3979 14.8966 69.5025 16.9342C91.607 18.9718 107.679 11.9056 90.7567 18.0968C73.8344 24.2878 59.2602 30.479 61.0817 36.213C62.9036 41.947 39.2203 21.1792 8.49274 34.0577C-22.2349 46.9365 42.8637 22.5245 9.42387 13.7864Z" sodipodi:nodetypes="czzzzcc" />
                    </svg>



                </a>
            </div>

        </aside>

        <!--main body-->
        <main class="spark-main" role="main">
            @RenderBody()
            </main>

        <!--discovery + search -->
        <!--search !!!-->
        <aside class="spark-discovery" aria-label="Discovery">
            <section class="spark-discovery-section">
                <h2 class="spark-discovery-title">Trending</h2>
                @* @await Html.PartialAsync("_DiscoveryTrending") *@
            </section>
            <section class="spark-discovery-section">
                <h2 class="spark-discovery-title">Who to follow</h2>
                @* @await Html.PartialAsync("_DiscoverySuggested") *@
            </section>
        </aside>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

